node {
        fill-color: black;
        size: 10px;
        stroke-mode: plain;
        stroke-color: black;
        stroke-width: 1px;
    }

node.selected {
        fill-color: rgb(200,10,10);
        size: 15px;
        stroke-mode: plain;
        stroke-color: rgb(180,10,10);
        stroke-width: 1px;
    }

node.received {
        fill-color: rgb(20,180,50);
        size: 10px;
        stroke-mode: plain;
        stroke-color: rgb(20,150,50);
        stroke-width: 1px;
    }
